@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Harmattan:wght@400;500;600;700&family=Kufam:ital,wght@0,400..900;1,400..900&family=Vibes&display=swap');
#lang-btn span:first-child{
    padding-left: 6px;
}
#lang-btn span:last-child{
    padding-left: 6px;
    background-color: #3FAEA5;
}
nav{
    padding-left: 3%;
}
nav ul li{
    margin-right: 32px;
}
nav ul li::after{
    transform: rotate(180deg) translateY(15px);
    left: 100%;
    transition: 0.6s;
}
nav ul li:hover::after{
    left: 0%;
}
section.landing.switch{
    transform: translateX(50%);
}
.landing-btn{
    left: 52%;
    transform: rotate(180deg);
}
.landing-btn.switch{
    right: 52%;
    transform: rotate(0deg);
}
.plane-btn{
    right: 25%;
    transform: translateX(50%);
}
.landing p{
    transform: translateX(50%);
    right: 25%;
}
section.landing .first-half{
    transform: rotateY(180deg);
}
.about-header::after{
    right: 50%;
    transform: rotateY(180deg);
}
.contact-card{
    transform: translateX(120%);
}
.visit-card{
    transform: translateX(120%);
}
.form-card{
    transform: translateX(-120%);
    position: relative;
}
.contact-phone::before,
.contact-email::before,
.visit-text::before,
.contact-phone a.whatsapp{
    transform: translateX(120%);
}
.contact-phone a.whatsapp{
    left: 0;
}
#products li.active::before{
    right: 5%;
}
.shape2{
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.about-header,
.landing p{
    font-family: "Aref Ruqaa", serif;
}
.product-header,
.shape2 .products-cards,
#products li p,
.specifications{
    font-family: "Kufam", sans-serif;
}
.description,
.nav-footer,
#navHeader,
.shape2>p,
.shape2>div>p,
.contact-cards,
.form-card,
.about-paragraph,
.about-quote,
.about-btn,
.contact-us1 h1,
.contact-us1 h2,
.landing-text,
nav ul li{
    font-family: "Harmattan", sans-serif;
}
.customers-header{
    font-family: "Vibes", system-ui;
    right: 0;
    transform: rotate(10deg) translateY(100%);
}
.customers-container{
    right: 0%;
}
#customers-btn-right{
    display: none;
}
.news-container{
    direction: ltr;
}