#lang-btn span:first-child{
    padding-left: 6px;
}
#lang-btn span:last-child{
    padding-left: 6px;
    background-color: #3FAEA5;
}
nav{
    padding-left: 3%;
}
nav ul li{
    margin-right: 32px;
}
nav ul li::after{
    transform: rotate(180deg) translateY(15px);
    left: 100%;
    transition: 0.6s;
}
nav ul li:hover::after{
    left: 0%;
}
section.landing.switch{
    transform: translateX(50%);
}
.landing-btn{
    left: 52%;
    transform: rotate(180deg);
}
.landing-btn.switch{
    right: 52%;
    transform: rotate(0deg);
}
.plane-btn{
    right: 25%;
    transform: translateX(50%);
}
.landing p{
    transform: translateX(50%);
    right: 25%;
}
section.landing .first-half{
    transform: rotateY(180deg);
}
.about-header::after{
    right: 30%;
    transform: rotateY(180deg);
}
.about-quote{
    font-family: 'Abel', sans-serif;
    right: 50%;
    transform: translateX(50%);
}
.contact-card{
    transform: translateX(120%);
}
.visit-card{
    transform: translateX(120%);
}
.form-card{
    transform: translateX(-120%);
    position: relative;
}
.contact-phone::before,
.contact-email::before,
.visit-text::before,
.contact-phone a.whatsapp{
    transform: translateX(120%);
}
.contact-phone a.whatsapp{
    left: 0;
}
#products li.active::before{
    right: 5%;
}
.shape2{
    flex-direction: column-reverse;
}