@import url('https://fonts.googleapis.com/css2?family=Abel&family=Actor&family=Audiowide&family=Bungee+Hairline&family=La+Belle+Aurore&family=Twinkle+Star&display=swap');
#lang-btn span:first-child{
    padding-left: 6px;
    background-color: #3FAEA5;
}
#lang-btn span:last-child{
    padding-right: 6px;
}
span#lang-btn{
    transform: translateX(-3em);
}
nav ul li{
    margin-left: 32px;
    font-family: 'Abel', sans-serif;
}
nav ul li::after{
    right: 100%;
}
nav ul li:hover::after{
    right: 0%;
}
section.landing.switch{
    transform: translateX(-50%);
}
.landing-text{
    font-family: 'Abel', sans-serif;
}
.landing-btn{
    right: 52%;
}
.landing-btn.switch{
    left: 52%;
    transform: rotate(180deg);
}
.plane-btn{
    left: 25%;
    transform: translateX(-50%);
}
.landing p{
    font-family:'La Belle Aurore', cursive;
    transform: translateX(-50%);
    left: 25%;
}
.about-header{
    font-family:'La Belle Aurore', cursive;
}
.about-header::after{
    left: 30%;
}
.about-paragraph{
    font-family: 'Abel', sans-serif;
}
.about-quote{
    font-family: 'Abel', sans-serif;
    left: 50%;
    transform: translateX(-50%);
}
.about-btn{
    font-family: 'Abel', sans-serif;
}
.contact-us1 h1,
.contact-us1 h2{
    font-family: 'Abel', sans-serif;
}
.contact-card{
    transform: translateX(-120%);
}
.visit-card{
    transform: translateX(-120%);
}
.form-card{
    transform: translateX(120%);
}
.contact-cards,
.form-card{
    font-family: 'Abel', sans-serif;
}
.contact-phone::before,
.contact-email::before,
.visit-text::before,
.contact-phone a.whatsapp{
    transform: translateX(-120%);
}
.contact-phone a.whatsapp{
    right: 0;
}
.shape2>p{
    font-family:'Abel', sans-serif;
}
.shape2>div>p{
    font-family:'Bungee Hairline', sans-serif;;
}
.shape2 .products-cards{
    font-family:'Audiowide', sans-serif;
}
#navHeader{
    font-family: 'Abel', sans-serif;
}
#products li.active::before{
    left: 5%;
}
#products li p{
    font-family:'Audiowide', sans-serif;
}
.product-header{
    font-family:'Audiowide', sans-serif;
}
.specifications{
    font-family:'Actor', sans-serif;
}
.description{
    font-family: 'Abel', sans-serif;
}
.nav-footer{
    font-family: 'Abel', sans-serif;
}
.customers-header{
    font-family: "Twinkle Star", normal;
    left: 0;
    transform: rotate(-10deg) translateY(100%);
}
.customers-container{
    left: 0%;
}
#customers-btn-left{
    display: none;
}