.about-landing{
    position: relative;
    top: 15vh;
    height: 85vh;
    background-image: url(../assets/about-landing.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    overflow: hidden;
}
.about-text{
    position: relative;
    width: 60%;
    margin:5%;
    color: #fff;
}
.about-header{
    font-size: 3em;
    margin: 0 5%;
    position: relative;
}
.about-header::after{
    content: '';
    background-image: url(../assets/about-arrow.webp);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: -10px;
}
.about-paragraph{
    background: linear-gradient(269.88deg, rgba(22, 114, 127, 0.7) 0.11%, #1E425A 99.9%);
    border-radius: 50px;
    padding: 1em;
    font-size: 2em;
    line-height: 1.5em;
}
.about-quote{
    background: linear-gradient(113.58deg, rgba(0, 34, 66, 0.5) 25.08%, rgba(63, 174, 165, 0.5) 125.84%);
    padding: 0.5em;
    border-radius: 50px;
    color: #FFBA00;
    font-size: 2em;
    width: fit-content;
    font-style: italic;
    margin: 1em 0;
}
.about-aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-aside figure{
    width: 540px;
    height: 540px;
    background-position: center ;
    background-image: url('../assets/about-logo.webp');
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.2;
}
@media (width < 1600px) {
    .about-paragraph{
        font-size: 1.75em;
    }
    .about-quote{
        font-size: 1.25em;
    }
}
@media (width < 1220px) {
    .about-aside{
        display: none;
    }
    .about-landing{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-text{
        width: 95%;
        height: 90%;
        overflow: scroll;
    }
    .about-quote{
        position: relative;
    }
}
