.customers-landing{
    background-image:url(../assets/customers-landing.webp) ;
    background-position: center;
    position: relative;
    top: 15vh;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.customers-header{
    color: white;
    font-size: 3em;
    padding: 0 1em ;
    position: absolute;
    top: 0;
}
@media (width < 550px) {
    .customers-header{
        font-size: 1.5em;
        padding: 0.5em 1em;
    }
}
.customers-container{
    background-color: #000C1799;
    height: 60%;
    width: 400%;
    position: absolute;
    display: flex;
    transform: translateX(0%);
    transition: 0.8s;
    align-items: center;
    justify-content: center;
    left: 0%;
}
.customer-card{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-card img{
    height: 90%;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(0.9);
}
@media (width < 1200px) {
    .customer-card{
        height: 60%;
    }
}
@media (width < 700px) {
    .customer-card{
        height: 50%;
    }
}
@media (width < 475px) {
    .customer-card{
        height: 40%;
    }
}
.customer-card img:hover{
    opacity: 1;
    transform: scale(1);
}
.customers-btn{
    width: 4.375em;
    height: 4.375em;
    background-color: #1e425a80;
    border: 3px solid #3FAEA5;
    border-radius: 50%;
    background-image: url(../assets/landing-btn.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1em;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.6s;
    z-index: 1;
}
@media (width < 1200px) {
    .customers-btn{
        width: 2.375em;
        height: 2.375em;
        background-position-x: 0.5em;
        top: 60%;
        background-size: 1.375em 1.375em;
    }
}
.customers-btn:hover{
    background-color: #1E425A;
}
#customers-btn-right{
    right: 2%;
}
#customers-btn-left{
    left: 2%;
    transform: rotate(180deg);
}