@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Harmattan:wght@400;500;600;700&display=swap');
.trans-nav::before{
    background-color: #00224200;
}
.landing-conatiner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section.landing{
    width: 200%;
    height: 100vh;
    position: absolute;
    transition: 0.6s;
    display: flex;
    transform: translateX(0);
}
section.landing .cover1,
section.landing .cover2{
    width: 50%;
    height: 100vh;
    background-size: cover;
}
section.landing .cover1{
    background-image: url(../assets/landing-cover1.webp);
}
section.landing .cover2{
    background-image: url(../assets/landing-cover2.webp);
    display: flex;
}
section.landing .first-half{
    background-image: url(../assets/landing-cover2-half.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 56%;
    z-index: 0;
    position: relative;
}
section.landing .second-half{
    width: 46%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-half .head{
    display: flex;
}
figure.landing-logo{
    background-image: url(../assets/landing-logo.webp);
    background-position: center;
    background-size: cover;
    align-self: center;
    width: 262px;
    height: 262px;
}
.head span{
    font-family: 'Audiowide', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    font-size: 4.75em;
    align-items: center;
}
.landing-text{
    font-size: 3.25em;
    padding: 0 10px;
    color: white;
    text-align: center;
}
.landing-btn{
    width: 4.375em;
    height: 4.375em;
    background-color: #1e425a80;
    border: 3px solid #3FAEA5;
    border-radius: 50%;
    background-image: url(../assets/landing-btn.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1em;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1;
}
.landing-btn:hover{
    background-color: #1E425A;
}
.bar-code{
    background-color: #1E425A;
    width: 60%;
    height: 15%;
    margin: 2em;
    cursor: pointer;
    transition: 0.3s;
}
.bar-code:hover{
    border-radius: 50px;
}
.bar-code figure{
    background: url(../assets/bar-code.webp);
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
}
.plane-btn{
    width: 4.5em;
    height: 4.5em;
    background-color: #1e425a80;
    border: 3px solid #3FAEA5;
    border-radius: 50%;
    background-image: url(../assets/plane-btn.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -7px;
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 3%;
    transition: 0.4s;
}
.landing-btn:hover,
.plane-btn:hover{
    background-color: #1E425A;
}
.landing p{
    position: absolute;
    color: #FFBA00;
    font-size: 5em;
    top: 77%;
}
.home-news{
    background-color:#011121;
    height: 100vh;
    font-family: sans-serif;
}
.news-container{
    background-color:#011121;
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Harmattan", sans-serif;
}
.latest-new,
.news-aside{
    height: 100%;
    overflow: hidden;
    padding: 3%;
}
.latest-new{
    width: 67%;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-new h3{
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 10px;
}
.news-container::after{
    content: '';
    background-image: url('../assets/customers-plane.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 50px;
    height: 90%;
    top: 5%;
    right: 36%;
}
.latest-header{
    font-size: 4em;
    cursor: pointer;
    color: #FFC700;
}
.latest-header:hover{
    text-decoration: underline;
}
.latest-date{
    font-size: 1.5em;
}
.latest-image{
    width: 90%;
}
.news-aside{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aside-new-card{
    cursor: pointer;
    width: 100%;
    height: calc(90% / 3);
    padding: 1em;
    opacity: 0.7;
    transition: 0.3s;
    display: flex;
    gap: 5%;
    background-color: #074D55;
    border-radius: 50px;
}
.aside-new-card:hover,
.aside-new-card:hover .aside-new-header,
.aside-new-card:hover .aside-new-date{
    text-decoration: underline;
    opacity: 1;
}
.aside-new-image{
    width: 40%;
    transition: 0.6s;
    border-radius: 34px;
}
.aside-new-header{
    font-size: 1.5em;
    color: #FFDB79;
    margin: 0.5em 0;
}

@media (max-width:376px) {
    section.landing .second-half{
        justify-content: end;
        align-items: center;
        flex-direction: column;
    }
    .aside-new-card{
        text-align: center;
    }
}
@media (max-width:700px) {
    section.landing .first-half{
        display: none;
    }
    section.landing .second-half{
        width: 100%;
    }
    .latest-header{
        text-align: center;
        font-size: 3em;
    }
}
@media (max-width:1150px) {
    .head span{
        font-size:2.75em;
    }
    figure.landing-logo{
        width: 150px;
        height: 150px;
    }
    .news-container{
        flex-direction: column;
        overflow: scroll;
        top: unset;
        height: unset;
    }
    .news-aside{
        flex-direction: row;
        gap:25px;
    }
    .latest-new,.news-aside{
        width: 90%;
        height: auto;
    }
    .aside-new-card{
        height: 250px;
        flex-direction: column;
        align-items: center;
    }
    .aside-new-image{
        width: 100%;
    }
}
@media (700px < width < 1150px) {
    .home-news{
        height: unset;
    }
}
@media (max-width:1400px) {
    .landing-text{
        font-size: 2.25em;
    }
}
@media (width < 900px) {
    .landing p{
        font-size: 3em;
    }
}
@media (width < 600px) {
    .news-aside{
        flex-wrap: wrap;
    }
    .aside-new-card{
        width: 90%;
        height: unset;
    }
}
@media (width < 500px) {
    .landing p{
        font-size: 2em;
    }
    .latest-header{
        font-size: 2em;
    }
}
@media (width < 1600px) {
    .news-container::after{
        display: none;
    }
}