@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Abel&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 86vw;
    height: 15vh;
    min-height: 150px;
    z-index: 2;
    margin: 0 7vw;
    justify-content: space-between;
}
nav::before{
    content: "";
    width: 100%;
    height: 15vh;
    min-height: 150px;
    left: 0;
    background-color: #002242;
    position: fixed;
    transition: 0.6s;
}
figure.nav-logo{
    width: 8.75em;
    height: 8.75em;
    background-size: 8.75em 8.75em;
    background-image: url('../assets/Logo.webp');
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.circle-text span{
    position: absolute;
    transform-origin: 0 70px;
    font-size: 80%;
    color: #fff;
    left: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.circle-text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: roundtext 20s linear infinite;
    font-family: 'Abel', sans-serif;
    opacity: 0.9;
    scale: 0.95;
    transition: 0.3s;
}
@media (width < 450px) {
    figure.nav-logo{
        width: 4.75em;
        height: 4.75em;
        background-size: 4.75em 4.75em;
    }
    .circle-text span{
        transform-origin: 0 38px;
        font-size: 50%;
    }
}
@keyframes roundtext {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
nav ul{
    list-style: none;
    color: #fff;
    font-size: 1.75em;
    display: flex;
}
nav ul li{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: translateY(20px);
    padding-bottom: 40px
}
nav ul li.active{
    color: #FFC700;
}
nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100px;
    min-height: 40px;
    background-size:100%;
    background-image: url('../assets/small-plane.webp');
    background-repeat: no-repeat;
    transition: 0.6s;
}
span#lang-btn{
    height: 1.6875em;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: 'Anaheim', sans-serif;
}
@media (width < 650px) {
    span#lang-btn{
        scale: 0.7;
    }
}
#lang-btn .globe-icon{
    width: 1.6875em;
    height: 1.6875em;
    background-size: 1.6875em 1.6875em;
    background-image: url('../assets/Globe-icon.webp');

}
#lang-btn span:first-child,
#lang-btn span:last-child{
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    display: none;
    flex-wrap: wrap;
    width: 27px;
    height: 15px;
    flex-direction: row-reverse;
    align-items: center;
    align-content: space-between;
    position: relative;
    cursor: pointer;
}
.menu-icon span{
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 1px;
}
.menu-icon span:nth-child(2) {
    width: 66.6%;
    transition: 0.3s;
}
.menu-icon:hover span:nth-child(2){
    width: 100%;
}
.close-nav{
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    display: none;
}
.close-nav:hover{
    background-color: red;
    color: white;
}
.nav-footer{
    display: none;
    font-size: 16px;
    background-color: rgb(0 0 0 / 43%);
    padding: 1em;
    width: 100%;
    position: absolute;
    bottom: 0;
}
@media (width < 1500px) {
    .nav-list{
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        text-align: center;
        top: 0%;
        left: 0%;
        align-items: center;
        justify-content: center;
        background-color: #002242e3;
        z-index: 10;
        transition: 0.6s;
        transform: translateY(-100%);
    }
    .nav-list.open-and-close{
        transform: translateY(0%);
    }
    .menu-icon{
        display: flex   ;
    }
    .nav-footer,
    .close-nav{
        display: block;
    }
}